.advantages
    margin-top: 80px
    .list
        justify-content: space-between
        margin-bottom: 70px
        li
            background-color: $blue
            border-radius: 5px
            flex: 0 0 24%
            padding: 37px
            position: relative
            box-shadow: 0px 4px 8px rgba(0,0,0,0.3)
            p
                color: $white
                font-size: 18px
                font-weight: 600
                margin: 0
                position: relative
                z-index: 1
                line-height: 1.4
            .counter
                position: absolute
                pointer-events: none
                font-size: 120px
                display: block
                font-weight: 900
                color: #3f93fb
                line-height: 90px
                height: 90px
                top: 33px
    &-note
        border: 1px solid $gray-300
        border-radius: 5px
        position: relative
        padding: 40px 50px
        box-shadow: 0px 4px 12px rgba(0,0,0,0.1)
        margin-bottom: 70px
        p
            margin: 0
            text-align: center
            font-size: 22px
            font-weight: 600
        &:before
            content: ''
            background-color: $red
            display: block
            position: absolute
            width: 36%
            height: 5px
            top: -1px
            left: 50%
            transform: translateX(-50%)