.apply-cv
    &-wrapper
        background-color: $blue
        padding: 70px 0
        margin-top: 120px
        margin-bottom: 120px
        box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.2)
        border-radius: 5px
        img
            display: block
            margin-top: -115px
            margin-bottom: -120px