html, body
    height: 100%
body
    display: flex
    flex-direction: column
    font: 14px 'Montserrat', sans-serif;
.wrapper
    flex: 1 0 auto
    overflow-x: hidden
    width: 100%
    max-width: 100%
.footer
    flex-shrink: 0

@import "rangeslider"
@import "slick"
@import "slick-theme"
@import "magnific-popup"

@import "header"
@import "content"
@import "features"
@import "repair"
@import "replace"
@import "problems"
@import "test"
@import "guarantee"
@import "looking"
@import "offer"
@import "advantages"
@import "apply-cv"
@import "our-office"
@import "footer"

@import "media"