.block
    &-heading
        display: block
        font-size: 40px
        font-weight: 700
        color: $black
        text-align: center
        margin-bottom: 40px
    &-desc
        color: $black
        text-align: center
        margin-bottom: 40px
        font-size: 24px
=placeholder
    &::-webkit-input-placeholder
        @content
    &:-moz-placeholder
        @content
    &::-moz-placeholder
        @content
    &:-ms-input-placeholder
        @content
    &::placeholder
        @content
.mfp-iframe-holder
    .mfp-content
        height: 100%
.list
    display: flex
    list-style: none
    margin: 0
    padding: 0
    &_check, &_circle
        flex-direction: column
        li
            padding-left: 18px + 20px
            background: url("../img/icons/check.svg") no-repeat 0px 0px / 18px
            margin-bottom: 37px
            p
                line-height: 1.5
                margin: -5px 0 0
                font-size: 19px
    &_circle
        flex-direction: column
        li
            padding-left: 18px + 10px
            background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 120 120" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle cx="60" cy="60" r="50" fill="#cb3e29"/></svg>') no-repeat 0px 4px / 12px
            margin-bottom: 37px
            p
                line-height: 1.5
                margin: -5px 0 0
                font-size: 19px
.input
    background: #f5f5f5
    padding: 24px 30px 24px 70px
    border: none
    font-size: 14px
    border-radius: 3px
    color: #c4c4c4
    margin-bottom: 13px
    height: 66px
    +placeholder
        font-size: 14px
        color: #c4c4c4
    &_name
        background: url("../img/icons/form-user.svg") no-repeat 30px center / 15px, #f5f5f5
    &_phone
        background: url("../img/icons/form-phone.svg") no-repeat 30px center / 15px, #f5f5f5
    &_mail
        background: url("../img/icons/form-mail.svg") no-repeat 30px center / 15px, #f5f5f5
.form
    .button
        width: 100%
        height: 66px
    .custom-file
        height: 66px
        margin-bottom: 13px
        &-input, &-label
            height: 66px
        &-label
            font-size: 18px
            font-weight: 600
            color: $white
            background: none
            border: 2px solid $white
            border-radius: 3px
            display: flex
            align-items: center
            padding: 24px 30px
            &:after
                content: ''
                width: 66px
                height: 62px
                padding: 0
                border: none
                background: url("../img/icons/form-file.svg") no-repeat center center / 28px
                right: 10px