.features
    background: url("../img/features__bg.jpg") no-repeat center top
    padding-top: 70px
    padding-bottom: 80px
    .block
        &-desc
            margin-bottom: 90px
    &-block
        background-color: rgba(255,255,255,0.9)
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1)
        display: flex
        align-items: center
        padding: 25px 20px
        border-radius: 5px
        margin-bottom: 28px
        max-width: 300px
        position: relative
        img
            display: block
            width: 41px
            margin-right: 18px
        p
            margin: 0
        &:after
            content: ''
            display: block
            position: absolute
            top: 50%
        &_1
            &:after
                width: 327px
                height: 80px
                background: url("../img/icons/features/pointers/img-1.png") no-repeat center center
                right: -327px
        &_2
            &:after
                width: 111px
                height: 56px
                background: url("../img/icons/features/pointers/img-2.png") no-repeat center center
                right: -112px
        &_3
            &:after
                width: 152px
                height: 9px
                background: url("../img/icons/features/pointers/img-3.png") no-repeat center center
                right: -152px
        &_4
            &:after
                width: 312px
                height: 9px
                background: url("../img/icons/features/pointers/img-4.png") no-repeat center center
                right: -313px
        &_5, &_6, &_7
            margin-left: auto
            &:after
                right: 300px
        &_5
            &:after
                width: 70px
                height: 96px
                background: url("../img/icons/features/pointers/img-5.png") no-repeat center center
        &_6
            &:after
                width: 112px
                height: 9px
                background: url("../img/icons/features/pointers/img-6.png") no-repeat center center
        &_7
            &:after
                width: 40px
                height: 9px
                background: url("../img/icons/features/pointers/img-7.png") no-repeat center center
        &-note
            margin-top: 70px
            border-radius: 5px
            box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1)
            padding: 30px
            color: $white
            background: url("../img/features__note-bg.jpg") no-repeat center center / cover
            b
                display: block
                font-size: 24px
                margin-bottom: 50px
                position: relative
                &:after
                    content: ''
                    width: 60px
                    height: 2px
                    display: block
                    background-color: $white
                    position: absolute
                    bottom: -26px
                    left: 0
            p
                font-size: 18px
                margin: 0
                width: 90%
        &-warn
            margin-top: 70px
            border: 1px solid $gray-300
            border-radius: 5px
            box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1)
            padding: 43px 0
            display: flex
            height: 285px
            img
                display: block
                object-fit: cover
                object-position: 100%
                width: 230px
            div
                margin-left: 40px
                b
                    font-size: 24px
                    display: block
                    margin-bottom: 20px
                p
                    margin: 0
                    line-height: 1.5