.footer
    padding: 39px 0
    &-logo
        display: block
        width: 244px
    &-list
        display: flex
        list-style: none
        margin: 0
        padding: 0
        font-size: 12px
        line-height: 1.5
        &_socials
            margin: 19px 0
            padding: 0
            li
                margin-right: 14px
                a
                    display: flex
                    width: 43px
                    height: 43px
                    flex: 0 0 43px
                    justify-content: center
                    align-items: center
                    border: 2px solid $red
                    border-radius: 3px
                    color: $red
                    img
                        display: block
                        width: 18px
                        height: 18px
                        flex: 0 0 18px
                    &:hover
                        color: $white
                        text-decoration: none
                    &:focus
                        outline: 0
        &_address
            flex-direction: column
        &_nav
            margin-left: -60px
            flex-direction: column
            flex-wrap: wrap
            max-height: 160px
            width: 100%
            li
                margin-bottom: 12px
                a
                    font-size: 16px
                    font-weight: 600
                    text-decoration: none
                    transition: all 0,3s ease
                    border-bottom: 1px solid $blue
                    &:hover
                        color: $red
                        text-decoration: none
                        border-bottom: 1px solid $red
                &:nth-child(4n)
                    margin-bottom: 0
    &-link
        display: block
        color: $black
        transition: all 0.3s ease
        font-size: 12px
        line-height: 1.5
        &:hover
            color: $red
            text-decoration: none
        &:focus
            outline: 0
    &-divider
        border-top: 1px solid $gray-500
        margin: 33px -15px 0
        width: calc(100% + 30px)
        padding-top: 25px
        .footer-link
            text-align: center