.guarantee
    background: url('../img/guarantee__bg.jpg') no-repeat center top
    padding: 60px 0 80px
    .list
        justify-content: space-between
        li
            display: flex
            flex-direction: column
            align-items: center
            flex: 0 0 30%
            img
                display: block
                width: 95px
            p
                text-align: center
                font-size: 20px
                line-height: 1.5
                margin: 30px 0 0  