.button
    appearance: none
    display: flex
    align-items: center
    justify-content: center
    border: none
    border-radius: 3px
    background-color: $gray-300
    color: $gray-500
    padding: 23px 0
    text-align: center
    line-height: 1
    transition: all 0.3s ease
    cursor: pointer
    &:hover
        background-color: darken($blue, 10%)
        color: $white
        text-decoration: none
    &:focus
        outline: 0
    &_submit
        background-color: $red
        color: $white
        font-size: 18px
        font-weight: 700
        &:hover
            background-color: darken($red, 10%)
.header
    height: 188px
    overflow: visible
    .navbar-brand
        img
            width: 333px
    &__navbar
        align-items: flex-start
        padding: 23px 0 0
        &-collapse
            flex-direction: column
            align-items: flex-end
            .navbar-nav
                border-top: 1px solid $gray-300
                padding-top: 20px
                margin-top: 43px
                margin-left: -360px
                width: 1170px
                justify-content: space-between
                .nav-item
                    .nav-link
                        color: $black
                        position: relative
                        font-weight: bolder !important
                        &:after
                            content: ''
                            position: absolute
                            bottom: -15px
                            left: 0
                            height: 2px
                            width: 100%
                            background-color: $red
                            transition: all 0.3s ease
                            transform: scaleX(0)
                            z-index: 2
                    &.active, &:hover
                        .nav-link
                            color: $black
                            font-weight: 400
                            &:after
                                transform: scaleX(1)
                    &:hover
                        .nav-link
                            font-weight: 400
                    &.active
                        .nav-link
                            color: #c43b2b
                        &:hover
                            .nav-link
                                font-weight: 400
    .navbar-toggler[aria-expanded=false]
        .navbar-toggler-icon
            background: url("../img/menu__icon.svg") no-repeat center center
            width: 41px
            height: 41px
    .navbar-toggler-icon
        background: url("../img/menu__icon-close.svg") no-repeat center center
        width: 41px
        height: 41px
    .navbar-toggler
        border: none
        margin-top: -4px
        &:focus
            outline: 0
    &__top
        display: flex
        align-items: center
    &__address
        p
            font-size: 16px
            margin: 5px 0 0
    &__phone
        display: block
        text-align: right
        font-size: 24px
        font-weight: 700
        color: $black
        &:hover
            text-decoration: none
    &__button
        @extend .button
        background-color: $white
        color: $red
        font-weight: 700
        border: 2px solid $red
        border-radius: 5px
        margin-left: 17px
        padding: 15px 0
        width: 224px
        flex: 0 0 224px
        &:hover
            background-color: $red
.main
    &__carousel
        background-color: #f8f8f8
        background: url("../img/slides/slide-1.jpg") no-repeat center center
        padding: 0
        .carousel
            margin-bottom: -5px
            .slick-prev,.slick-next
                background-color: $white
                width: 70px
                height: 70px
                border-radius: 5px
                z-index: 2
                box-shadow: 0px 9px 21px 0px rgba(0, 0, 0, 0.11)
                &:before
                    content: ''
                    background: url("../img/icons/angle-right.png") no-repeat center center / 22px
                    display: block
                    width: 22px
                    height: 22px
                    position: absolute
                    top: 23px
                    left: 22px
            .slick-prev
                left: 0px
                &:before
                    transform: rotate(180deg)
            .slick-next
                right: 0px
                &:before
                    left: 24px
            .slick-dots
                bottom: 30px
                li
                    margin: 0 1px
                    width: 16px
                    height: 16px
                    &.slick-active
                        button
                            border: 1px solid #c43b2b
                            &:before
                                color: #c43b2b
                                opacity: 1
                    button
                        padding: 0
                        width: 13px
                        height: 13px
                        border: 1px solid #f8f8f8
                        border-radius: 50%
                        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2)
                        &:before
                            width: 13px
                            height: 13px
                            color: $white
                            opacity: 1
                            font-size: 13px
                            line-height: 1.4
                            top: -1px
                            right: -1px
            .carousel-cell
                width: 100%
                height: 707px
                padding: 100px 48px 0 100px
                position: relative
                &:focus
                    outline: 0
                b
                    display: block
                    font-size: 40px
                    max-width: 660px
                    margin-bottom: 10px
                &__text
                    font-size: 18px
                    font-weight: 300
                    max-width: 420px
                    margin: 30px 0
                ul
                    list-style: none
                    display: flex
                    flex-direction: column
                    margin: 53px 0 20px
                    padding: 0
                    li
                        display: flex
                        align-items: center
                        margin-bottom: 35px
                        img
                            display: block
                            align-self: center
                            margin-right: 14px
                            width: 32px
                            height: 32px
                            flex: 0 0 32px
                            object-fit: contain
                        p
                            font-size: 14px
                            margin-bottom: 0
                &__buttons
                    display: flex
                    align-items: center
                    .button
                        width: 100%
                        max-width: 400px
                        color: $white
                &__image
                    display: block
                    width: 100%
                &_slide
                    &-4
                        .carousel-cell
                            &__text
                                max-width: 100%
                            &__buttons
                                .button
                                    max-width: 100%
    &_vacancy
        background: url("../img/vacancy__header.jpg") no-repeat center top
        height: 720px
        padding-top: 92px
        .block
            &-heading
                text-align: left