.looking
    margin-top: 44px
    &-wrapper
        display: flex
        align-items: stretch
        box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.05)
        margin-bottom: 40px
        .column
            border: 1px solid $gray-300
            flex: 0 0 50%
            .heading
                display: flex
                align-items: center
                justify-content: center
                padding: 20px 0
                background-color: $blue
                height: 72px
                b
                    color: $white
                    font-size: 30px
                    text-align: center
            .content
                padding: 40px 70px
                >p
                    font-size: 19px
                    font-weight: 600
                    margin-bottom: 30px
                    line-height: 1.5
                .list
                    li
                        margin-bottom: 15px
                        p
                            font-size: 16px
            &_right
                .heading
                    background-color: $gray-200
                    b
                        color: $black
                        font-size: 24px