@media (min-width: 1200px)
    .container
        max-width: 1200px
@media (min-width: 992px) and (max-width: 1199px)
    .header
        &__top
            width: 590px
        &__address
            width: 366px
        &__button
            width: 200px
            flex: 0 0 200px
        &__navbar
            &-collapse
                .navbar-nav
                    margin-top: 23px
                    width: 960px
                    .nav-item
                        .nav-link
                            min-height: 52px
                            text-align: center
    .features
        &-block
            &_1
                &:after
                    width: 240px
                    background: url("../img/icons/features/pointers/img-1.png") no-repeat right center
                    right: -241px
            &_2
                &:after
                    width: 50px
                    background: url("../img/icons/features/pointers/img-2.png") no-repeat right center
                    right: -51px
            &_3
                &:after
                    width: 60px
                    background: url("../img/icons/features/pointers/img-3.png") no-repeat right center
                    right: -61px
            &_4
                &:after
                    width: 200px
                    background: url("../img/icons/features/pointers/img-4.png") no-repeat right center
                    right: -201px
            &-warn
                height: calc(100% - 76px)
    .repair
        &-image
            left: -140px
    .repair-more
        .list
            min-height: 560px
        &-car
            left: -200px
    .replace
        &-car
            width: 370px
    .problems
        .list
            li
                .list
                    &__left, &__right
                        height: 160px
                    &__left
                        &:after, &:before
                            transform: scaleX(0.7) translateX(-35px)
                        &:after
                            border-width: 80px
                            margin-top: -80px
                        &:before
                            border-width: 80.5px
                            margin-top: -80.5px
    .offer
        height: auto
        padding-bottom: 100px
        background-size: cover
        &-block
            width: 50%
    .footer
        &-list
            &_address
                margin-left: 20px
            &_nav
                margin-left: 0
@media (min-width: 768px) and (max-width: 991px)
    .header
        position: fixed
        width: 100%
        background-color: $white
        z-index: 10
        height: 170px
        .navbar-brand
            img
                width: 330px
        &__address
            position: absolute
            top: 90px
            width: 100%
            a
                text-align: center
            p
                text-align: center
        &__navbar
            &-collapse
                background-color: $white
                z-index: 10
                .navbar-nav
                    width: 100%
                    margin: 0
                    padding: 10px
                    border: none
                    .nav-item
                        .nav-link
                            &:after
                                display: none
    .main
        &__carousel
            margin-top: 170px
        &_vacancy
            margin-top: 170px
    .features
        &-block
            &:after
                display: none
            &-warn
                height: auto
                margin-top: 35px
    .repair
        .form
            padding: 50px 30px
    .repair-more
        .list
            min-height: 670px
        &-car
            left: -350px
    .replace
        background-size: cover
        &-car
            margin: 0 auto
    .problems
        .list
            li
                flex-direction: column
                .list
                    &__left, &__right
                        height: auto
                        flex: 0 0 auto
                    &__left
                        width: 100%
                        &:after, &:before
                            display: none
                    &__right
                        padding: 66px 33px
    .test
        margin-top: 0
    .guarantee
        background-size: cover
    .looking
        &-wrapper
            .column
                .content
                    padding: 40px 20px
    .offer
        height: auto
        padding-bottom: 100px
        background-size: cover
        &-block
            width: 50%
    .advantages
        .list
            flex-wrap: wrap
            li
                flex: 0 0 49%
                margin-bottom: 2%
    .apply-cv
        &-wrapper
            margin: 0
            padding: 70px 30px
            img
                width: 100%
                margin: 0
    .footer
        &-list
            &_address
                margin-left: 0px
            &_nav
                margin: 15px 0 0
                padding: 0
                width: 100%
@media (min-width: 576px) and (max-width: 767px)
    .header
        position: fixed
        width: 100%
        background-color: $white
        z-index: 10
        height: 170px
        .navbar-brand
            img
                width: 330px
        &__address
            position: absolute
            top: 90px
            width: 100%
            a
                text-align: center
            p
                text-align: center
        &__navbar
            &-collapse
                background-color: $white
                z-index: 10
                .navbar-nav
                    width: 100%
                    margin: 0
                    padding: 10px
                    border: none
                    .nav-item
                        .nav-link
                            &:after
                                display: none
    .main
        &__carousel
            margin-top: 170px
            background: url("../img/slides/slide-1-m.jpg") no-repeat center center
            .slick-arrow
                display: none !important
            .carousel
                .carousel-cell
                    padding: 48px
                    b
                        text-align: center
                    &__text
                        text-align: center
        &_vacancy
            margin-top: 170px
            .block
                &-heading
                    text-align: center
    .features
        background: none
        .block
            &-desc
                margin-bottom: 40px
        &-block
            max-width: 100%
            &:after
                display: none
            &-note
                margin-top: 0
            &-warn
                height: auto
                margin-top: 35px
                flex-direction: column
                padding: 40px
                img
                    width: 376px
                    margin: 0 auto 45px
                div
                    margin: 0
    .repair
        .block
            &-heading
                text-align: center
                margin-top: 50px
            &-desc
                text-align: center
        .form
            padding: 30px
            margin-top: 0
    .repair-more
        .list
            margin-bottom: 30px
            position: relative
            z-index: 1
            li
                .counter
                    margin-left: 15px
        &-car
            top: 0
            left: -130px
            margin: -80px auto -180px
        .note
            margin: 0 auto 40px
            text-align: center
    .replace
        background-size: cover
        &-car
            margin: 0 auto 30px
        &-heading
            margin-left: 0
            text-align: center
        &-lists
            margin-left: 0
            flex-direction: column
            align-items: center
        &-list
            &-title
                text-align: center
                padding: 0
                &:before
                    display: none
        .list
            li
                p
                    margin: 0
                    width: 100%
                    text-align: center
                &:before
                    display: none
            &_replace-features
                flex-direction: column
                margin-top: 30px
                li
                    margin-bottom: 12px
                    &:first-child
                        order: 0
                    &:last-child
                        order: 1
                    &:nth-child(2)
                        order: 3
                    &:nth-child(3)
                        order: 2
    .problems
        .list
            li
                flex-direction: column
                .list
                    &__left, &__right
                        height: auto
                        flex: 0 0 auto
                    &__left
                        width: 100%
                        &:after, &:before
                            display: none
                    &__right
                        padding: 66px 33px
    .test
        background-size: cover
        margin-top: 0
        .block
            &-heading
                text-align: center
                width: 100%
    .guarantee
        background-size: cover
        .list
            flex-direction: column
            li
                margin-bottom: 40px
    .looking
        &-wrapper
            flex-direction: column
            .column
                flex: 0 0 auto
                .content
                    padding: 40px 20px
    .offer
        height: auto
        padding-bottom: 100px
        background-size: cover
        &-block
            width: 100%
    .advantages
        .list
            flex-wrap: wrap
            li
                flex: 0 0 100%
                margin-bottom: 15px
        &-note
            padding: 40px 15px
            &:before
                width: 100%
                left: 0
                transform: none
                border-radius: 5px 5px 0 0
    .apply-cv
        &-wrapper
            margin: 0
            padding: 30px
    .footer
        &-logo
            align-self: center
        &-list
            &_socials
                margin-left: auto
            &_address
                flex-direction: row
                justify-content: space-between
                margin-left: 0px
            &_nav
                margin: 15px 0 0
                padding: 0
                width: 100%
        &-divider
            margin: 33px -30px 0
            width: calc(100% + 60px)
@media (max-width: 575px)
    .header
        position: fixed
        width: 100%
        background-color: $white
        z-index: 10
        height: 170px
        .navbar-brand
            img
                width: 200px
        &__address
            position: absolute
            top: 70px
            width: 100%
            a
                text-align: center
            p
                text-align: center
        &__navbar
            &-collapse
                background-color: $white
                z-index: 10
                .navbar-nav
                    width: 100%
                    margin: 0
                    padding: 10px
                    border: none
                    .nav-item
                        .nav-link
                            &:after
                                display: none
    .list
        &_check
            li
                p
                    font-size: 16px
    .main
        &__carousel
            margin-top: 170px
            background: url("../img/slides/slide-1-m.jpg") no-repeat center center
            .slick-arrow
                display: none !important
            .carousel
                .carousel-cell
                    padding: 48px 15px
                    b
                        text-align: center
                        font-size: 24px
                    &__text
                        text-align: center
                    &__buttons
                        .button
                            max-width: 100%
        &_vacancy
            margin-top: 170px - 44px
            .block
                &-heading
                    text-align: center
    .features
        background: none
        .block
            &-desc
                margin-bottom: 40px
        &-block
            max-width: 100%
            &:after
                display: none
            &-note
                margin-top: 0
            &-warn
                height: auto
                margin-top: 35px
                flex-direction: column
                padding: 40px 15px
                img
                    width: 100%
                    object-fit: contain
                    object-position: 50%
                    margin: 0 auto 45px
                div
                    margin: 0
    .block
        &-heading
            font-size: 28px
        &-desc
            font-size: 18px
    .repair
        .block
            &-heading
                text-align: center
                margin-top: 50px
            &-desc
                text-align: center
        .form
            padding: 30px
            margin-top: 0
            p
                font-size: 18px
    .repair-more
        .list
            margin-bottom: 30px
            position: relative
            z-index: 1
            li
                padding-right: 15px
                .counter
                    margin-left: 15px
        &-car
            top: 0
            left: -80px
            margin: -80px auto -100px
            width: 150vw
        .note
            margin: 0 auto 40px
            text-align: center
    .replace
        background-size: cover
        &-car
            width: 100%
            margin: 0 auto 30px
        &-heading
            margin-left: 0
            text-align: center
        &-lists
            margin-left: 0
            flex-direction: column
            align-items: center
        &-list
            &-title
                text-align: center
                padding: 0
                &:before
                    display: none
        .list
            li
                p
                    margin: 0
                    width: 100%
                    text-align: center
                &:before
                    display: none
            &_replace-features
                flex-direction: column
                margin-top: 30px
                li
                    margin-bottom: 12px
                    &:first-child
                        order: 0
                    &:last-child
                        order: 1
                    &:nth-child(2)
                        order: 3
                    &:nth-child(3)
                        order: 2
    .problems
        .list
            li
                flex-direction: column
                .list
                    &__left, &__right
                        height: auto
                        flex: 0 0 auto
                    &__left
                        width: 100%
                        padding: 26px 5px 26px 38px
                        img
                            margin-right: 35px
                        b
                            font-size: 20px
                        &:after, &:before
                            display: none
                    &__right
                        padding: 60px 33px
                        p
                            font-size: 16px
    .test
        background-size: cover
        margin-top: 0
        .block
            &-heading
                text-align: center
                width: 100%
    .guarantee
        background-size: cover
        .list
            flex-direction: column
            li
                margin-bottom: 40px
    .looking
        &-wrapper
            flex-direction: column
            .column
                flex: 0 0 auto
                .heading
                    b
                        font-size: 20px
                .content
                    padding: 20px 10px
    .offer
        height: auto
        padding-bottom: 35px
        background-size: cover
        .block
            &-heading
                margin-top: 40px
        &-block
            width: 100%
            .heading
                img
                    width: 40px
                b
                    font-size: 16px
    .advantages
        .list
            flex-wrap: wrap
            li
                flex: 0 0 100%
                margin-bottom: 15px
        &-note
            padding: 40px 15px
            margin-bottom: 50px
            &:before
                width: 100%
                left: 0
                transform: none
                border-radius: 5px 5px 0 0
    .apply-cv
        &-wrapper
            margin: 0
            padding: 30px
    .footer
        &-logo
            align-self: center
            width: 160px
        &-list
            &_socials
                margin-left: auto
                flex: 0 0 114px
                width: 114px
                li
                    a
                        width: 28px
                        height: 28px
                        flex: 0 0 28px
                        img
                            width: 14px
                            height: 14px
                            flex: 0 0 14px
            &_address
                flex-direction: row
                justify-content: space-between
                margin-left: 0px
            &_nav
                margin: 15px 0 0
                padding: 0
                width: 100%