.offer
    background: url("../img/offer__bg.jpg") no-repeat center top
    margin-top: 30px
    height: 816px
    .block
        &-heading
            margin-top: 60px
    &-wrapper
        background-color: $white
        border: 1px solid $gray-400
        border-radius: 5px
        display: flex
        flex-wrap: wrap
        align-items: stretch
        margin-top: 50px
    &-block
        display: flex
        flex-direction: column
        width: 33.3333%
        border: 1px solid $gray-400
        padding: 30px 30px
        .heading
            display: flex
            align-items: center
            margin-bottom: 20px
            img
                display: block
                width: 66px
                margin-right: 35px
            b
                display: block
                font-size: 19px
        .content
            p
                margin: 0