.our-office
    margin-top: 60px
    .carousel
        .slick-prev,.slick-next
            background-color: $white
            width: 70px
            height: 70px
            border-radius: 5px
            z-index: 2
            box-shadow: 0px 9px 21px 0px rgba(0, 0, 0, 0.11)
            &:before
                content: ''
                background: url("../img/icons/angle-right.png") no-repeat center center / 22px
                display: block
                width: 22px
                height: 22px
                position: absolute
                top: 23px
                left: 22px
        .slick-prev
            left: 45px
            &:before
                transform: rotate(180deg)
        .slick-next
            right: 45px
            &:before
                left: 24px
        .slick-dots
            bottom: -50px
            li
                margin: 0 1px
                width: 16px
                height: 16px
                &.slick-active
                    button
                        border: 1px solid #c43b2b
                        box-shadow: none
                        &:before
                            background-color: #c43b2b
                            opacity: 1
                button
                    padding: 0
                    width: 13px
                    height: 13px
                    border: 1px solid #f8f8f8
                    border-radius: 5px
                    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4)
                    &:before
                        content: ''
                        width: 13px
                        height: 13px
                        background-color: $white
                        opacity: 1
                        font-size: 13px
                        line-height: 1.4
                        top: -1px
                        right: -1px
                        border-radius: 5px
        &-cell
            width: 30%
            box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.2)
            margin: 0 10px
            a
                display: block
                img
                    display: block
                    width: 100%
                    height: 340px
                    object-fit: cover
                    border-radius: 5px