.problems
    .list
        margin-top: 45px
        margin-bottom: 60px
        display: flex
        flex-direction: column
        li
            width: 100%
            box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1)
            border: 1px solid #e6e6e6
            margin-bottom: 14px
            display: flex
            align-items: flex-start
            .list
                &__left
                    display: flex
                    background: #f4f4f4
                    padding: 38px 0 38px 50px
                    position: relative
                    height: 130px
                    align-items: center
                    flex: 0 0 370px
                    img
                        display: block
                        align-self: center
                        width: 40px
                        height: 40px
                        flex: 0 0 40px
                        margin-right: 44px
                    b
                        color: $red
                        font-size: 24px
                    &:after, &:before
                        left: 100%
                        top: 50%
                        border: solid transparent
                        content: " "
                        height: 0
                        width: 0
                        position: absolute
                        pointer-events: none
                        transform: scaleX(0.8) translateX(-16px)
                    &:after
                        border-color: rgba(244, 244, 244, 0)
                        border-left-color: #f4f4f4
                        border-width: 65px
                        margin-top: -65px
                    &:before
                        border-color: rgba(230, 230, 230, 0)
                        border-left-color: #e6e6e6
                        border-width: 65.5px
                        margin-top: -65.5px
                &__right
                    padding: 38px 18px 38px 90px
                    display: flex
                    align-items: center
                    height: 130px
                    p
                        margin: 0
                        font-size: 18px
                        line-height: 1.5