.replace
    background: url("../img/replace__bg.jpg") no-repeat center top
    color: $white
    padding-top: 60px
    padding-bottom: 80px
    margin-bottom: 60px
    .block
        &-heading, &-desc
            color: $white
    &-car
        display: block
        width: 434px
        margin-left: -15px
    &-heading
        font-size: 24px
        font-weight: 600
        display: block
        margin-left: 55px
        margin-bottom: 63px
    &-list-title
        display: block
        font-size: 18px
        position: relative
        padding-left: 25px
        margin-left: -7px
        margin-bottom: 28px
        &:before
            content: ''
            background: url("../img/icons/replace-icon.svg") no-repeat center center / 20px
            width: 20px
            height: 20px
            display: block
            position: absolute
            left: 0px
            top: 0
    &-lists
        display: flex
        margin-left: 55px
    .list
        flex-direction: column
        width: 230px
        li
            position: relative
            display: flex
            align-items: center
            margin-bottom: 5px
            p
                margin: 0
                margin-left: 18px
            &:before
                content: ''
                background-color: $blue
                width: 4px
                height: 4px
                display: block
                position: absolute
                left: 0
        &_replace-features
            flex-direction: row
            justify-content: space-between
            flex-wrap: wrap
            width: 100%
            li
                background-color: $blue
                justify-content: center
                flex: 0 0 49%
                min-height: 90px
                border-radius: 5px
                padding: 0 18px
                p
                    margin: 0
                &:before
                    display: none