.repair
    background: url("../img/repair__bg.jpg") no-repeat center top
    margin-bottom: 86px
    .block
        &-heading
            color: $white
            text-align: left
            margin-top: 90px
        &-desc
            color: $white
            text-align: left
            font-size: 20px
    .form
        background-color: $white
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2)
        padding: 50px 100px
        margin-top: 30px
        p
            text-align: center
            font-weight: 700
            font-size: 24px
    &-image
        display: block
        position: relative
        left: -70px
        top: -50px
        margin-bottom: -190px
.repair-more
    .list-heading
        background-color: $blue
        padding: 32px 45px
        b
            color: $white
            font-size: 24px
        &_right
            background-color: $red
    .list
        flex-direction: column
        background-color: $white
        border: 1px solid $gray-200
        padding-top: 40px
        border-radius: 0px 0px 5px 5px
        box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.05)
        margin-bottom: 77px
        li
            display: flex
            align-items: flex-start
            margin-bottom: 55px
            .counter
                background-color: $blue
                color: $white
                width: 44px
                height: 44px
                flex: 0 0 44px
                display: flex
                justify-content: center
                align-items: center
                font-size: 19px
                border-radius: 50%
                margin-right: 22px
                margin-left: 42px
            p
                font-weight: 300
                line-height: 1.5
                a
                    color: $red
                    font-weight: 700
        &_right
            li
                .counter
                    background-color: $red
    .note
        margin-top: 110px
        font-size: 18px
    &-car
        display: block
        position: relative
        top: -160px
        left: -110px
        margin-bottom: -260px