.test
    background: url("../img/test__bg.jpg") no-repeat center top
    padding: 46px 0
    margin-top: 81px
    .block
        &-heading
            color: $white
            text-align: left
            font-size: 24px
            width: 90%
            margin: 0 0 36px
    &-car
        display: block
        position: relative
        top: -112px
        margin-bottom: -112px